body{
margin:0;
font-family:Arial;
background:#0a0a0a;
color:white;
text-align:center;
}

header{
background:#111;
padding:20px;
}

.whatsapp{
background:green;
padding:10px 20px;
color:white;
text-decoration:none;
border-radius:5px;
}

section{
margin:20px;
padding:20px;
background:#151515;
border-radius:10px;
}

input,textarea,button{
width:90%;
padding:10px;
margin:5px;
border-radius:5px;
border:none;
}

button{
background:red;
color:white;
}

img{
width:90%;
margin:10px;
border-radius:10px;
}

footer{
padding:10px;
background:black;
}
